<div ng-controller="admincontroller as vm" id="containerEvento" layout="row">

	<md-whiteframe flex="50" class="md-whiteframe-z5" layout="column" id="containerAdmin">
		<div flex="80" class="" layout="column" id="containerInteriorAdmin">
			<p>Seleccione el evento que desee eliminar</p>
  			<div layout="column" layout-align="center center" style="height: 100px;">
   			<md-select ng-model="evento" style="min-width: 200px;">
      		<md-select-label>{{ evento ? evento.title : 'Seleccione el evento' }}</md-select-label>
      			<md-option ng-value="evento" ng-repeat="evento in vm.events">{{evento.title}}</md-option>
    		</md-select>
    		
    		<p class="md-caption">Va a eliminar: {{ evento ? evento.title : 'A&uacuten ninguno' }}</p>
		</div>
			<md-button id="login_button" style="margin-top:4em;" ng-click="vm.eliminarEvento(evento)">Eliminar</md-button>
		</div>
		</md-whiteframe>
		<md-whiteframe flex="50" class="md-whiteframe-z5" layout="column" id="containerAdmin">
		<div flex="80" class="" layout="column" id="containerInteriorAdmin">
			<p>Seleccione el usuario que desee eliminar</p>
  			<div layout="column" layout-align="center center" style="height: 100px;">
   			<md-select ng-model="persona" style="min-width: 200px;">
      		<md-select-label>{{ persona ? persona.name : 'Seleccione el usuario' }}</md-select-label>
      			<md-option ng-value="persona" ng-repeat="persona in vm.people">{{persona.name}}</md-option>
    		</md-select>
    		<p class="md-caption">Va a eliminar: {{ persona ? persona.name : 'A&uacuten ninguno' }}</p>
		</div>
		<md-button id="login_button" style="margin-top:4em;" ng-click="vm.eliminarPersona(persona)">Eliminar</md-button>
	</div>
</div>
</div>

