<div ng-controller="ppcontroller as vm" id="containerEvento" layout="row">
	<div layout="row" layout-fill="" style="padding-bottom: 32px;" layout-align="center center">
		<md-whiteframe flex="50" class="md-whiteframe-z5" layout="column" id="containerPersona">
			<p>Select can call an arbitrary function on show. If this function returns a promise, it will display a loading indicator while it is being resolved:</p>
  			<div layout="column" layout-align="center center" style="height: 100px;">
   			<md-select ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
      		<md-select-label>{{ user ? user.name : 'Assign to user' }}</md-select-label>
      			<md-option ng-value="user" ng-repeat="evento in vm.events">{{evento.title}}</md-option>
    		</md-select>
    		<p class="md-caption">You have assigned the task to: {{ evento ? evento.title : 'No one yet' }}</p>
			<md-button id="login_button" style="margin-top:4em;" ng-click="vm.join()">Participar</md-button>    
		</md-whiteframe>
	</div>
	<div>
		<md-button id="login_button" style="margin-top:4em;" ng-click="vm.join()">Participar</md-button>
	</div>
</div>