<div flex layout="column" ng-controller="friendscontroller as vm">
<h1 ng-if ="vm.session.isOrganization">Miembros</h1>
<h1 ng-if = "!vm.session.isOrganization">Tus amigos</h1>
<p ng-if="!vm.session.isLogged" flex="80" layout="row">Por favor, identifíquese para acceder a su lista de amigos. <a href="#/login">Login</a></p>
  <div flex="80" layout="row" layout-align="center top"> 
        <div ng-repeat="actor in vm.friends" layout="column" layout-align="center center" class="PersonChip">
	            <a href="/#/people/{{actor.id}}" class="link"> 

		                <div layout="row" layout-align="center center">
		                	<div><img src="/../img/mood/{{actor.mood}}.png"  id="avatarPersona" class="md-avatar avatarPersona" alt="{actor.mood}"> </img></div>
		                </div>
		                <div class="md-list-item-text contenidoPersonChip" layout="row" layout-align="center center" >
		                    <div>
		                  		<p class="nombrePersonChip">{{actor.name | uppercase}}</p>
		                  		<p class="barrioPersonChip">{{actor.defaultLocation.neighborhood | uppercase}}</p>
		                    </div>
		            </div>
	            </a>
    	</div>
  </div>  
</div>

