<h1 ng-if ="vm.session.isOrganization">Equipo</h1>
<h1 ng-if = "!vm.session.isOrganization">Tus amigos</h1>
<div flex layout="row" ng-controller="friendscontroller as vm">
<p ng-if="!vm.session.isLogged" flex="80" layout="row">Por favor, identifíquese para acceder a su lista de amigos. <a href="#/login">Login</a></p>
  <div flex="80" layout="row" layout-align="center top"> 
        <div ng-repeat="actor in vm.friends" layout="column" layout-align="center center" class="PersonChip">
	            <a href="/#/people/{{actor.id}}" class="link"> 

		                <div layout="row" layout-align="center center">
		                	<div><img src="/../img/mood/{{actor.mood}}.png"  id="avatarPersona" class="md-avatar avatarPersona" alt="{actor.mood}"> </img></div>
		                </div>
		                <div class="md-list-item-text contenidoPersonChip" layout="row" layout-align="center center" >
		                    <div>
		                  		<p class="nombrePersonChip">{{actor.name | uppercase}}</p>
		                  		<p class="barrioPersonChip">{{actor.defaultLocation.neighborhood | uppercase}}</p>
		                    </div>
		            </div>
	            </a>
    	</div>
  </div> 
  <div flex="20">
    <md-toolbar id="sidebar" flex hide-sm class="md-primary md-hue-1">
        <h2>Busca una persona</h2>
        <!--input de buscar-->
        <md-input-container>
            <label>Buscar</label>
            <input ng-model="searchparam" ng-change="vm.search(searchparam)"  md-maxlength="10" type="text">
        </md-input-container>
        <md-checkbox ng-model="ifEvents" type="checkbox" aria-label="eventosConmigo?">Sólo gente que comparta eventos contigo</md-checkbox>
        <md-select ng-model="distance" ng-change="vm.searchDistance(distance)" placeholder="Distancia a ti">
            <md-option value="barrio">En mi barrio</md-option>
            <md-option value="ciudad">En mi ciudad</md-option>
        </md-select>a
    </md-toolbar>
    </div>  
</div>

