<div ng-controller="logincontroller as vm" layout="column" class="inputdemoBasicUsage">
  <md-content flex md-theme="docs-dark" layout="column" layout-align="center center">
	    <md-input-container>
	      <label>Usuario</label>
	      <input type="text" ng-model="vm.name" required />
	    </md-input-container>
	    <md-input-container>
	      <label>Contraseña</label>
	      <input type="password" />
	    </md-input-container>
	    <button ng-click = "vm.submit">Enviar</button>
  </md-content>
</div>