<div ng-controller="logincontroller as vm" layout="column" class="inputdemoBasicUsage"">
  <md-content flex md-theme="docs-dark" layout="column" layout-align="center center">
  	<form action="/people/login/{{vm.id}}">
	    <md-input-container>
	      <label>Usuario</label>
	      <input ng-model="vm.name">
	    </md-input-container>
	    <md-input-container>
	      <label>Contraseña</label>
	      <input type="email">
	    </md-input-container>
	    <md-button class="md-raised" ng-click = vm.submit>Submit</md-button>
	 </form>
  </md-content>
</div>