<div ng-controller="DemoCtrl" layout="column" class="inputdemoBasicUsage" ng-app="MyApp">
  <md-content flex md-theme="docs-dark" layout="column" layout-align="center center">
  String name, String bio, int mood, List<Happening> happenings,
			Rating rating, List<Person> friends, Person head, String principles, List<Person> crew, Location defaultLocation
    <md-input-container>
      <label>Usuario / Nombre</label>
      <input ng-model="newOrg.name">
    </md-input-container>
    <md-input-container>
      <label>Barrio</label>
      <input ng-model="newOrg.defaultLocation.neighborhood">
    </md-input-container>
    <md-input-container>
      <label>Contraseña</label>
      <input type="password">
    </md-input-container>
    <md-input-container>
      <label>Bio</label>
      <textarea ng-model="newOrg.bio" columns="1" md-maxlength="150"></textarea>
    </md-input-container>
    <md-input-container>
      <label>Principles</label>
      <textarea ng-model="newOrg.principles" columns="1" md-maxlength="150"></textarea>
    </md-input-container>
    <md-button class="md-raised">Guardar</md-button>
  </md-content>
</div>