<div ng-controller="personcontroller as vm">
	<div layout="row" layout-fill="" style="padding-bottom: 32px;" layout-align="center center">
		  <md-whiteframe flex="50" class="md-whiteframe-z5" layout="column" layout-align="center center" id="containerPersona">
		      <div layout="row" layout-align="center" id="containerPersonaFoto">
		        <div flex="50" layout="column" layout-align="center" ><img src="/../img/mood/{{vm.actor.mood}}.png"  id="avatarPersona" class="md-avatar avatarPersona" alt="{{actor.mood}}"><md-button id="login_button" ng-click="vm.beFriends()">Añadir</md-button></div>
		        <div flex="50" id="containerPersonaFoto">
					<h2> {{vm.actor.name | uppercase}} </h2>
					<p> {{vm.actor.defaultLocation.neighborhood}}</p>
				</div>
		      </div>
		      <div id="containerPersonaBio">{{vm.actor.bio}}</div>
		    <div ng-controller="actorcontroller as wm">
		    	<div ng-repeat="actor in wm.friends" layout="column" layout-align="center center" class="PersonChip">
		            <a href="/#/people/{{actor.id}}" class="link"> 
	
			                <div layout="row" layout-align="center center">
			                	<div><img src="/../img/mood/{{actor.mood}}.png"  id="avatarPersona" class="md-avatar avatarPersona" alt="{{actor.mood}}"> </img></div>
			                </div>
			                <div class="md-list-item-text contenidoPersonChip" layout="row" layout-align="center" >
			                    <div>
			                  		<p class="nombrePersonChip">{{actor.name | uppercase}}</p>
			                  		<p class="barrioPersonChip">{{actor.defaultLocation.neighborhood | uppercase}}</p>
			                    </div>
			            </div>
		            </a>
    			</div>
		     </div>
		  </md-whiteframe>
	</div>
</div>